/* reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset end */

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.section {
    position: absolute;
    overflow: hidden;
    height: 300px;
}
.content {
    margin: 20px;
}
.sectionTabContainer {
    overflow: hidden;
}
.sectionTab {
    width: 25%;
    height: 50px;
    position: relative;
    float: left;
    background-color: #043f04;
}
.sectionTab a {
    
    border: 2px solid white;
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.sectionTab::first-of-type a {
    border-left: none;
    background-color: #dddddd;
}
.sectionTab::last-of-type a {
    border-right: none;
}
.sectionTab a h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#section1 {
    display: block;
}
.bgCol {
    top: 0;
    height: 0;
    position: absolute;
    width: 100%;
    transition: opacity 1s, height .5s, width .5s;
    -webkit-transition: opacity 1s, height .5s, width .5s;
    -moz-transition: opacity 1s, height .5s, width .5s;
}
.section .bgCol {
    width: 25%;
    z-index:-1;
    transition: height .4s, width .4s, left .4s;
    -webkit-transition: height .4s, width .4s, left .4s;
    -moz-transition: height .4s, width .4s, left .4s;
}
.animateTab .bgCol {
    height: 100px;
}
.animateTab a {
    color: black;
}
.section {
    z-index: -1;
    color: white;
    width: 100%;
}
.section.animatePanel {
    z-index: 1;
    color: black;
}
.section.animatePanel .bgCol {
    width: 100%;
    height: 100%;
    left: 0 !important;
}
.SectionContainer {
    background-color:#eeeeee; 
    min-height: 300px;
}